body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    animation: fadeIn 0.5s ease forwards;
}

h1 {
    font-family: 'Arial Black', sans-serif;
    font-size: 48px;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('images/bckimage.jpg'); 
    background-size: cover; 
    background-position: center;
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 100%; 
    height: 100vh; 
}

#home-screen h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

button {
    padding: 12px 24px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    background-color: #AF8F6F;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #EAD8C0;
}

.game-container {
    display: none;
    animation: slideIn 0.5s ease forwards;
}

.game-wrapper {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 6px;
    margin: 20px auto;
    background-color: #6D2932;
    color: #803D3B;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 48px;
    border: 2px solid #6c757d;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1E5D1;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #ced4da;
}

#result {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #28a745;
}

#restart-btn,
#home-btn {
    padding: 12px 24px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    background-color: #333;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#restart-btn:hover,
#home-btn:hover {
    background-color: #AF8F6F;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.modes-box {
    border: 5px solid #333; 
    padding: 20px; 
    border-radius: 10px; 
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 50%; 
    max-width: 300px; 
    text-align: center; 
}
